<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">-->
        <!--<property name="customEditors">-->
            <!--<map>-->
                <!--<entry key="java.util.Date" value="com.test.DatePropertyEditor"/>-->
            <!--</map>-->
        <!--</property>-->
    <!--</bean>-->

    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="propertyEditorRegistrars">
            <list>
                <bean class="com.test.DatePropertyEditorRegistrar"/>
            </list>
        </property>
    </bean>


    <bean id="userManager" class="com.test.UserManager">
        <property name="dataValue">
            <value>2013-03-15</value>
        </property>
    </bean>


</beans>