<component name="libraryTable">
  <library name="spring-core-4.3.5.RELEASE (3)">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-core-4.3.5.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/../../Spring源码分析/spring-framework-4.3.x/spring-core/src/main/java" />
      <root url="file://$PROJECT_DIR$/../../Spring源码分析/spring-framework-4.3.x/spring-core/src/test/java" />
    </SOURCES>
  </library>
</component>